[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nessclient = {editable = true, extras = ["cli"], path = "."}

[dev-packages]
codecov = "*"
flake8 = "*"
mypy = "*"
types-setuptools = "*"
black = "*"

[requires]
python_version = "3.11"
