[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"nessclient" = {editable = true, extras = ["cli"], path = "."}

[dev-packages]
"flake8" = "*"
mypy = "*"
sphinx = "*"
"m2r" = "*"

[requires]
python_version = "3.7"
